USE [master]
GO
/****** Object:  Database [DBSPIC]    Script Date: 10/31/2016 7:12:37 PM ******/
CREATE DATABASE [DBSPIC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBSPIC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBSPIC.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBSPIC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBSPIC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBSPIC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBSPIC]
GO
/****** Object:  User [lgplanea]    Script Date: 10/31/2016 7:12:37 PM ******/
CREATE USER [lgplanea] FOR LOGIN [lgplanea] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [lgplanea]
GO
/****** Object:  Table [dbo].[ACADEMICO]    Script Date: 10/31/2016 7:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACADEMICO](
	[ID_Academico] [int] IDENTITY(1,1) NOT NULL,
	[personalAdmin] [smallint] NOT NULL,
	[docentes] [smallint] NOT NULL,
	[matricula] [int] NOT NULL,
	[turno] [nvarchar](100) NOT NULL,
	[carrerasVigentes] [nvarchar](300) NOT NULL,
	[carrerasLiquidadas] [nvarchar](300) NOT NULL,
	[fechaActualizacion] [nvarchar](10) NOT NULL,
	[periodoEscolar] [nvarchar](100) NOT NULL,
	[FK_ID_Plantel] [int] NOT NULL,
 CONSTRAINT [PK_ACADEMICO] PRIMARY KEY CLUSTERED 
(
	[ID_Academico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACTIVIDAD]    Script Date: 10/31/2016 7:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVIDAD](
	[ID_Actividad] [int] IDENTITY(1,1) NOT NULL,
	[nombreActividad] [nvarchar](100) NOT NULL,
	[descripccion] [nvarchar](300) NOT NULL,
	[cantidad] [nvarchar](500) NOT NULL,
	[costoOperacion] [decimal](15, 2) NOT NULL,
	[responsable] [nvarchar](100) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[fechaInicio] [nvarchar](10) NOT NULL,
	[fechaFin] [nvarchar](10) NOT NULL,
	[porcentajeAvance] [decimal](4, 2) NOT NULL,
	[fechaActualizacion] [nvarchar](50) NULL,
	[FK_ID_Etapa] [int] NOT NULL,
 CONSTRAINT [PK_ACTIVIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_Actividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 10/31/2016 7:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID_Estado] [int] IDENTITY(1,1) NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ETAPA]    Script Date: 10/31/2016 7:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETAPA](
	[ID_Etapa] [int] IDENTITY(1,1) NOT NULL,
	[numeroEtapa] [int] NOT NULL,
	[nombreEtapa] [nvarchar](300) NOT NULL,
	[descripccion] [nvarchar](500) NOT NULL,
	[fechaInicio] [nvarchar](10) NOT NULL,
	[fechaFin] [nvarchar](10) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[fechaActualizacion] [nvarchar](10) NOT NULL,
	[tipoEtapa] [nvarchar](50) NOT NULL,
	[avance] [decimal](4, 2) NOT NULL,
	[numeroActividades] [int] NOT NULL,
	[FK_ID_Plantel] [int] NOT NULL,
 CONSTRAINT [PK_ETAPA] PRIMARY KEY CLUSTERED 
(
	[ID_Etapa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INFRAESTRUCTURA]    Script Date: 10/31/2016 7:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFRAESTRUCTURA](
	[ID_Infraestructura] [int] IDENTITY(1,1) NOT NULL,
	[superficiePredio] [decimal](10, 2) NOT NULL,
	[superficieConstruida] [decimal](10, 2) NOT NULL,
	[aulasDidacticas] [smallint] NOT NULL,
	[laboratorios] [smallint] NOT NULL,
	[talleresComputo] [smallint] NOT NULL,
	[otrosTalleres] [nvarchar](200) NOT NULL,
	[areasAdmin] [nvarchar](4) NOT NULL,
	[biblioteca] [nvarchar](4) NOT NULL,
	[salaAudio] [nvarchar](4) NOT NULL,
	[casetaVigilancia] [nvarchar](4) NOT NULL,
	[cafeteria] [nvarchar](4) NOT NULL,
	[bardaPerimetral] [nvarchar](4) NOT NULL,
	[areasDeportivas] [nvarchar](4) NOT NULL,
	[fechaActualizacion] [nvarchar](10) NULL,
	[FK_ID_Plantel] [int] NOT NULL,
 CONSTRAINT [PK_INFRAESTRUCTURA] PRIMARY KEY CLUSTERED 
(
	[ID_Infraestructura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MUNICIPIO]    Script Date: 10/31/2016 7:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUNICIPIO](
	[ID_Municipio] [int] IDENTITY(1,1) NOT NULL,
	[municipio] [nvarchar](100) NOT NULL,
	[FK_ID_Estado] [int] NOT NULL,
 CONSTRAINT [PK_MUNICIPIO] PRIMARY KEY CLUSTERED 
(
	[ID_Municipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 10/31/2016 7:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[ID_Permiso] [int] IDENTITY(1,1) NOT NULL,
	[nombrePermiso] [nvarchar](150) NOT NULL,
	[tipoPermiso] [nvarchar](150) NOT NULL,
	[descripccion] [nvarchar](150) NULL,
 CONSTRAINT [PK_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PLANTEL]    Script Date: 10/31/2016 7:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANTEL](
	[ID_Plantel] [int] NOT NULL,
	[clavePlantel] [nvarchar](10) NULL,
	[nombre] [nvarchar](60) NOT NULL,
	[direccion] [nvarchar](355) NOT NULL,
	[FK_ID_Municipio] [int] NOT NULL,
	[FK_ID_Estado] [int] NOT NULL,
	[claveCentroTrabajo] [nvarchar](50) NOT NULL,
	[claveEstudios] [nvarchar](50) NOT NULL,
	[fechaAlta] [nvarchar](10) NOT NULL,
	[zona] [nvarchar](1) NOT NULL,
	[telefono] [nvarchar](20) NOT NULL,
	[correo] [nvarchar](50) NOT NULL,
	[fax] [nvarchar](30) NOT NULL,
	[anioCreacion] [nvarchar](4) NOT NULL,
	[nombreCompletoDirector] [nvarchar](200) NOT NULL,
	[nombreCompletoSubDirector] [nvarchar](200) NOT NULL,
	[nombreCompletoCoordinador] [nvarchar](200) NOT NULL,
	[claveDGP] [nvarchar](20) NULL,
	[latitud] [nvarchar](50) NULL,
	[longitud] [nvarchar](50) NULL,
 CONSTRAINT [PK_PLANTEL] PRIMARY KEY CLUSTERED 
(
	[ID_Plantel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROL]    Script Date: 10/31/2016 7:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[nombreRol] [nvarchar](150) NOT NULL,
	[descripccion] [nchar](250) NOT NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROL_PERMISO]    Script Date: 10/31/2016 7:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_PERMISO](
	[ID_Rol_Permiso] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID_Rol] [int] NOT NULL,
	[FK_ID_Permiso] [int] NOT NULL,
 CONSTRAINT [PK_ROL_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID_Rol_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROL_USUARIO]    Script Date: 10/31/2016 7:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_USUARIO](
	[ID_Rol_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID_Rol] [int] NOT NULL,
	[FK_ID_Usuario] [int] NOT NULL,
 CONSTRAINT [PK_ROL_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_Rol_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10/31/2016 7:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](150) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
	[nombreCompleto] [nvarchar](200) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[correo] [nvarchar](200) NOT NULL,
	[FK_ID_Plantel] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ACADEMICO] ON 

GO
INSERT [dbo].[ACADEMICO] ([ID_Academico], [personalAdmin], [docentes], [matricula], [turno], [carrerasVigentes], [carrerasLiquidadas], [fechaActualizacion], [periodoEscolar], [FK_ID_Plantel]) VALUES (1, 70, 50, 800, N'Matutino y Vespertino', N'Informatica', N'Seguridad', N'2016-10-31', N'2016-2016', 2)
GO
INSERT [dbo].[ACADEMICO] ([ID_Academico], [personalAdmin], [docentes], [matricula], [turno], [carrerasVigentes], [carrerasLiquidadas], [fechaActualizacion], [periodoEscolar], [FK_ID_Plantel]) VALUES (2, 80, 50, 588, N'Matutino', N'Informática', N'Seguridad de Informatica', N'2016-10-18', N'2016-2016', 3)
GO
INSERT [dbo].[ACADEMICO] ([ID_Academico], [personalAdmin], [docentes], [matricula], [turno], [carrerasVigentes], [carrerasLiquidadas], [fechaActualizacion], [periodoEscolar], [FK_ID_Plantel]) VALUES (3, 400, 50, 500, N'Matutino y Vespertino', N'GTUIY', N'YUUI', N'2016-10-21', N'2017-2017', 5)
GO
SET IDENTITY_INSERT [dbo].[ACADEMICO] OFF
GO
SET IDENTITY_INSERT [dbo].[ACTIVIDAD] ON 

GO
INSERT [dbo].[ACTIVIDAD] ([ID_Actividad], [nombreActividad], [descripccion], [cantidad], [costoOperacion], [responsable], [status], [fechaInicio], [fechaFin], [porcentajeAvance], [fechaActualizacion], [FK_ID_Etapa]) VALUES (1, N'nomActividad1', N'descripccionActividad1', N'cantidad1', CAST(150000.50 AS Decimal(15, 2)), N'responsable1', N'status1', N'2015-02-10', N'2015-02-10', CAST(10.50 AS Decimal(4, 2)), N'fechaAct1', 1)
GO
INSERT [dbo].[ACTIVIDAD] ([ID_Actividad], [nombreActividad], [descripccion], [cantidad], [costoOperacion], [responsable], [status], [fechaInicio], [fechaFin], [porcentajeAvance], [fechaActualizacion], [FK_ID_Etapa]) VALUES (2, N'nomActividad2', N'descripccionActividad2', N'cantidad2', CAST(150000.50 AS Decimal(15, 2)), N'responsable2', N'status2', N'2015-02-10', N'2015-02-10', CAST(10.50 AS Decimal(4, 2)), N'fechaAct2', 1)
GO
SET IDENTITY_INSERT [dbo].[ACTIVIDAD] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADO] ON 

GO
INSERT [dbo].[ESTADO] ([ID_Estado], [estado]) VALUES (1, N'Estado de México')
GO
INSERT [dbo].[ESTADO] ([ID_Estado], [estado]) VALUES (2, N'Aguascalientes')
GO
INSERT [dbo].[ESTADO] ([ID_Estado], [estado]) VALUES (3, N'Baja California')
GO
SET IDENTITY_INSERT [dbo].[ESTADO] OFF
GO
SET IDENTITY_INSERT [dbo].[ETAPA] ON 

GO
INSERT [dbo].[ETAPA] ([ID_Etapa], [numeroEtapa], [nombreEtapa], [descripccion], [fechaInicio], [fechaFin], [status], [fechaActualizacion], [tipoEtapa], [avance], [numeroActividades], [FK_ID_Plantel]) VALUES (1, 10, N'Nombre1', N'Descripccion1', N'F.Ini1', N'2016-10-01', N'Status1', N'F.Act1', N'TipoEtapa1', CAST(0.00 AS Decimal(4, 2)), 4, 2)
GO
INSERT [dbo].[ETAPA] ([ID_Etapa], [numeroEtapa], [nombreEtapa], [descripccion], [fechaInicio], [fechaFin], [status], [fechaActualizacion], [tipoEtapa], [avance], [numeroActividades], [FK_ID_Plantel]) VALUES (2, 36, N'Nombre2', N'Descripccion2', N'F.Ini2', N'2015-10-01', N'Status2', N'F.Act2', N'TipoEtapa2', CAST(0.00 AS Decimal(4, 2)), 4, 2)
GO
INSERT [dbo].[ETAPA] ([ID_Etapa], [numeroEtapa], [nombreEtapa], [descripccion], [fechaInicio], [fechaFin], [status], [fechaActualizacion], [tipoEtapa], [avance], [numeroActividades], [FK_ID_Plantel]) VALUES (3, 23, N'Nombre3', N'Descripccion3', N'F.Ini3', N'2014-10-01', N'Status3', N'F.Act3', N'TipoEtapa3', CAST(0.00 AS Decimal(4, 2)), 4, 2)
GO
SET IDENTITY_INSERT [dbo].[ETAPA] OFF
GO
SET IDENTITY_INSERT [dbo].[INFRAESTRUCTURA] ON 

GO
INSERT [dbo].[INFRAESTRUCTURA] ([ID_Infraestructura], [superficiePredio], [superficieConstruida], [aulasDidacticas], [laboratorios], [talleresComputo], [otrosTalleres], [areasAdmin], [biblioteca], [salaAudio], [casetaVigilancia], [cafeteria], [bardaPerimetral], [areasDeportivas], [fechaActualizacion], [FK_ID_Plantel]) VALUES (1, CAST(20000.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), 2012, 3, 3, N'Dibujo', N'Si', N'Si', N'Si', N'Si', N'Si', N'Si', N'3', N'2016-10-31', 2)
GO
INSERT [dbo].[INFRAESTRUCTURA] ([ID_Infraestructura], [superficiePredio], [superficieConstruida], [aulasDidacticas], [laboratorios], [talleresComputo], [otrosTalleres], [areasAdmin], [biblioteca], [salaAudio], [casetaVigilancia], [cafeteria], [bardaPerimetral], [areasDeportivas], [fechaActualizacion], [FK_ID_Plantel]) VALUES (2, CAST(20000.00 AS Decimal(10, 2)), CAST(15500.00 AS Decimal(10, 2)), 1997, 2, 2, N'Dibujo', N'Si', N'Si', N'Si', N'Si', N'No', N'No', N'2', N'2016-10-18', 3)
GO
INSERT [dbo].[INFRAESTRUCTURA] ([ID_Infraestructura], [superficiePredio], [superficieConstruida], [aulasDidacticas], [laboratorios], [talleresComputo], [otrosTalleres], [areasAdmin], [biblioteca], [salaAudio], [casetaVigilancia], [cafeteria], [bardaPerimetral], [areasDeportivas], [fechaActualizacion], [FK_ID_Plantel]) VALUES (3, CAST(20000.00 AS Decimal(10, 2)), CAST(15500.00 AS Decimal(10, 2)), 2004, 2, 3, N'JGFHJF', N'Si', N'Si', N'No', N'Si', N'Si', N'Si', N'2', N'2016-10-21', 5)
GO
SET IDENTITY_INSERT [dbo].[INFRAESTRUCTURA] OFF
GO
SET IDENTITY_INSERT [dbo].[MUNICIPIO] ON 

GO
INSERT [dbo].[MUNICIPIO] ([ID_Municipio], [municipio], [FK_ID_Estado]) VALUES (1, N'Acambay', 1)
GO
INSERT [dbo].[MUNICIPIO] ([ID_Municipio], [municipio], [FK_ID_Estado]) VALUES (2, N'Acolman', 1)
GO
INSERT [dbo].[MUNICIPIO] ([ID_Municipio], [municipio], [FK_ID_Estado]) VALUES (3, N'Aculco', 1)
GO
SET IDENTITY_INSERT [dbo].[MUNICIPIO] OFF
GO
SET IDENTITY_INSERT [dbo].[PERMISO] ON 

GO
INSERT [dbo].[PERMISO] ([ID_Permiso], [nombrePermiso], [tipoPermiso], [descripccion]) VALUES (1, N'accessMain', N'Formulario', N'Acceso a sistema.')
GO
INSERT [dbo].[PERMISO] ([ID_Permiso], [nombrePermiso], [tipoPermiso], [descripccion]) VALUES (2, N'accessDataSheet', N'Formulario', N'Acceso a Ficha Técnica.')
GO
INSERT [dbo].[PERMISO] ([ID_Permiso], [nombrePermiso], [tipoPermiso], [descripccion]) VALUES (3, N'addDataSheet', N'Permiso', N'Agregar Ficha Técnica de Plantel.')
GO
SET IDENTITY_INSERT [dbo].[PERMISO] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

GO
INSERT [dbo].[ROL] ([ID_Rol], [nombreRol], [descripccion]) VALUES (1, N'super usuario', N'Tiene todos los permisos para gestionar todo el sistema                                                                                                                                                                                                   ')
GO
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL_PERMISO] ON 

GO
INSERT [dbo].[ROL_PERMISO] ([ID_Rol_Permiso], [FK_ID_Rol], [FK_ID_Permiso]) VALUES (1, 1, 1)
GO
INSERT [dbo].[ROL_PERMISO] ([ID_Rol_Permiso], [FK_ID_Rol], [FK_ID_Permiso]) VALUES (2, 1, 2)
GO
INSERT [dbo].[ROL_PERMISO] ([ID_Rol_Permiso], [FK_ID_Rol], [FK_ID_Permiso]) VALUES (3, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[ROL_PERMISO] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL_USUARIO] ON 

GO
INSERT [dbo].[ROL_USUARIO] ([ID_Rol_Usuario], [FK_ID_Rol], [FK_ID_Usuario]) VALUES (1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[ROL_USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

GO
INSERT [dbo].[USUARIO] ([ID_Usuario], [usuario], [password], [nombreCompleto], [status], [correo], [FK_ID_Plantel]) VALUES (1, N'ROOT', N'507f513353702b50c145d5b7d138095c', N'ROOT', N'ACTIVO', N'root@cecytem.mx', 1)
GO
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_FK_ID_Plantel]  DEFAULT ((1)) FOR [FK_ID_Plantel]
GO
ALTER TABLE [dbo].[ACADEMICO]  WITH CHECK ADD  CONSTRAINT [FK_ACADEMICO_PLANTEL] FOREIGN KEY([FK_ID_Plantel])
REFERENCES [dbo].[PLANTEL] ([ID_Plantel])
GO
ALTER TABLE [dbo].[ACADEMICO] CHECK CONSTRAINT [FK_ACADEMICO_PLANTEL]
GO
ALTER TABLE [dbo].[ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVIDAD_ETAPA] FOREIGN KEY([FK_ID_Etapa])
REFERENCES [dbo].[ETAPA] ([ID_Etapa])
GO
ALTER TABLE [dbo].[ACTIVIDAD] CHECK CONSTRAINT [FK_ACTIVIDAD_ETAPA]
GO
ALTER TABLE [dbo].[ETAPA]  WITH CHECK ADD  CONSTRAINT [FK_ETAPA_PLANTEL] FOREIGN KEY([FK_ID_Plantel])
REFERENCES [dbo].[PLANTEL] ([ID_Plantel])
GO
ALTER TABLE [dbo].[ETAPA] CHECK CONSTRAINT [FK_ETAPA_PLANTEL]
GO
ALTER TABLE [dbo].[INFRAESTRUCTURA]  WITH CHECK ADD  CONSTRAINT [FK_INFRAESTRUCTURA_PLANTEL] FOREIGN KEY([FK_ID_Plantel])
REFERENCES [dbo].[PLANTEL] ([ID_Plantel])
GO
ALTER TABLE [dbo].[INFRAESTRUCTURA] CHECK CONSTRAINT [FK_INFRAESTRUCTURA_PLANTEL]
GO
ALTER TABLE [dbo].[PLANTEL]  WITH CHECK ADD  CONSTRAINT [FK_PLANTEL_ESTADO] FOREIGN KEY([FK_ID_Estado])
REFERENCES [dbo].[ESTADO] ([ID_Estado])
GO
ALTER TABLE [dbo].[PLANTEL] CHECK CONSTRAINT [FK_PLANTEL_ESTADO]
GO
ALTER TABLE [dbo].[PLANTEL]  WITH CHECK ADD  CONSTRAINT [FK_PLANTEL_MUNICIPIO] FOREIGN KEY([FK_ID_Municipio])
REFERENCES [dbo].[MUNICIPIO] ([ID_Municipio])
GO
ALTER TABLE [dbo].[PLANTEL] CHECK CONSTRAINT [FK_PLANTEL_MUNICIPIO]
GO
ALTER TABLE [dbo].[ROL_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_ROL_PERMISO_PERMISO] FOREIGN KEY([FK_ID_Permiso])
REFERENCES [dbo].[PERMISO] ([ID_Permiso])
GO
ALTER TABLE [dbo].[ROL_PERMISO] CHECK CONSTRAINT [FK_ROL_PERMISO_PERMISO]
GO
ALTER TABLE [dbo].[ROL_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_ROL_PERMISO_ROL] FOREIGN KEY([FK_ID_Rol])
REFERENCES [dbo].[ROL] ([ID_Rol])
GO
ALTER TABLE [dbo].[ROL_PERMISO] CHECK CONSTRAINT [FK_ROL_PERMISO_ROL]
GO
ALTER TABLE [dbo].[ROL_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_ROL_USUARIO_ID_Rol] FOREIGN KEY([FK_ID_Rol])
REFERENCES [dbo].[ROL] ([ID_Rol])
GO
ALTER TABLE [dbo].[ROL_USUARIO] CHECK CONSTRAINT [FK_ROL_USUARIO_ID_Rol]
GO
ALTER TABLE [dbo].[ROL_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_ROL_USUARIO_ID_Usuario] FOREIGN KEY([FK_ID_Usuario])
REFERENCES [dbo].[USUARIO] ([ID_Usuario])
GO
ALTER TABLE [dbo].[ROL_USUARIO] CHECK CONSTRAINT [FK_ROL_USUARIO_ID_Usuario]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PLANTEL] FOREIGN KEY([FK_ID_Plantel])
REFERENCES [dbo].[PLANTEL] ([ID_Plantel])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_PLANTEL]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacena los datos academicos de los Planteles.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ACADEMICO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que registra las actividades de las etapas de desarrollo de los Planteles.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ACTIVIDAD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacena las etapas de desarrollo que tienen los Planteles.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ETAPA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacena los registros de la infraestructura de los planteles.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INFRAESTRUCTURA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Permisos JSP para usuarios' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PERMISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Roles de los usuario SPIC' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ROL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Relación de los permisos con los roles de los usuarios del sistema SPIC' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ROL_PERMISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que relaciona los roles y los usuarios en el sistema' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ROL_USUARIO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave foranea de el ID de la tabla ROL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ROL_USUARIO', @level2type=N'CONSTRAINT',@level2name=N'FK_ROL_USUARIO_ID_Rol'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave Foranea de el ID_Usuario de la tabla USUARIO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ROL_USUARIO', @level2type=N'CONSTRAINT',@level2name=N'FK_ROL_USUARIO_ID_Usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacena los usuarios del Sistema' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'USUARIO'
GO
USE [master]
GO
