/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2016, 5:36:59 PM
    Author     : emmanuel
*/

.labelsAddActivity
{
    margin-top: 10px
}



#valueNombreActividad
{
    margin-bottom: 15px;
    width: 400px;
    margin-left: 250px;
    height: 30px;
    font-size: 12px
}

#valueDescripccionActividad
{
    margin-bottom: 15px;
    width: 400px;
    margin-left: 250px;
    font-size: 12px
}

#valueCantidadActividad
{
    margin-bottom: 15px;
    width: 400px;
    margin-left: 250px;
    height: 30px;
    font-size: 12px
}
#valueCostoOperacionActividad
{
    margin-bottom: 15px;
    width: 130px;
    margin-left: 250px;
    height: 30px;
    font-size: 12px
}

#valueResponsableActividad
{
    margin-bottom: 15px;
    width: 400px;
    margin-left: 250px;
    height: 30px;
    font-size: 12px
}
#valueStatusActividad
{
    margin-bottom: 15px;
    width: 130px;
    margin-left: 250px;
    height: 30px;
    font-size: 12px
}

#valueFechaInicioActividad
{
    margin-bottom: 15px;
    width: 130px;
    margin-left: 250px;
    height: 30px;
    font-size: 12px
}
#valueFechaFinActividad
{
    margin-bottom: 15px;
    width: 130px;
    margin-left: 250px;
    height: 30px;
    font-size: 12px
}
#valueAvanceActividad
{
    margin-bottom: 15px;
    width: 100px;
    margin-left: 250px;
    height: 30px;
    font-size: 12px
}
#addActividad
{
    margin-left: 45%;
}