/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2016, 12:38:38 PM
    Author     : emmanuel
*/


/*
    CSS Clases de la Ficha Técnica
*/
.InputDataSheet
{
    margin-left: 270px;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 25px;
}

.firstLabelDataSheet
{
    margin: 10px;
    margin-right: 50px;
}

.labelSecondColumnDatosGenerales
{
    width: 120px;
    margin-top: 10px;

}

.valuesSecondColumnDatosGenerales
{
    margin-left: 160px;
    height: 25px;
}
.labelSecondColumnDatosAcademicos
{
    width: 195px;
    margin: 10px;

}
.valuesSecondColumnDatosAcademincos
{
    margin-left: 230px;
}

.labelInfraestructura
{
    margin: 10px;
}
.valueFirstColumnInfraestructura, .valueSecondColumnInfraestructura, valueThirdColumnInfraestructura
{
    width: 100px;
    margin-left: 270px;
    margin-top: 5px;
    height: 25px;
}

.valueThirdColumnInfraestructura2
{
    width: 100px;
    margin-left: 200px;
    margin-top: 5px;
}
.labelthirdColumnInfraestructura
{
    width: 166px;
    margin-top: 10px;
}




/*
    CSS de ID de la Ficha Técnica
*/

#valueNombrePlantel
{
    width: 210px;
}



#valueDireccion
{
    width: 500px;
    margin-left: 160px;

}
#labelAnioCreacion, #labelDireccion, #labelEstado, #labelCorreo, #labelLongitud
{
    width: 138px;
    margin-left: 0px;
    margin-top: 10px;
}
#valueAnioCreacion, #valueDireccion, #valueEstado, #valueCorreo, #valueLongitud
{
    margin: 5px;
    margin-left: 170px;
}

#valueDirector
{
    width: 545px;
    margin-left: 270px;
}

#valueMatricula
{

    width: 100px;
    margin-left: 160px;
}

#valueCarrerasLiquidadas
{
    width: 300px;
}

#valuePersonalAdmin
{
    width: 100px;
    margin-left: 270px;

}
#valueTurno
{
    margin-left: 270px;
    width: 204px;
}
#labelTurno
{
    width: 50px;
    margin-left: 190px;
    margin-top: 10px;
}
#labelPeriodoEscolar
{
    width: 130px;
    margin-left: 80px;
}

#valuePeriodoEscolar
{
    width: 100px;
    margin-left: 240px;
}

#labelDocentes
{
    margin: 10px;
    margin-left: 130px;
    width: 75px;
}
#valueDocentes
{
    width: 100px;
    margin-left: 240px;
}

#labelSalaMedios
{
    width: 242px;
}

#valueOtrosTalleres
{
    width: 200px;
}

#valueCarrerasVigentes
{
    width: 70%;
}

#valueCarrerasLiquidadas
{
    width: 70%;
}

#addDataSheet
{
    margin-left: 25%;
}
#addEtapasDesarrollo
{
    margin-left: 16%;
}
#cleanDataSheet
{
    margin-right: 25%;
}

#valueCafeteria, #valueBardaPerimetral
{
    margin-left: 199px;
}

#valueCorreo
{
    width:300px; 
}
#labelPersonalAdmin
{
    width: 230px;
}
#labelTalleresComputo
{
    width: 172px;
}

#labelMatricula
{
    margin-left: 40px;
    width: 95px;
}

