/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2016, 12:38:38 PM
    Author     : emmanuel
*/


/*
    CSS Clases de la Ficha Técnica
*/
.classLabelDataSheet
{
    margin-top: 10px;
    text-align: right;
    margin-bottom: 15px;
}



/*
    CSS de ID de la Ficha Técnica
*/

.classValueDataSheet
{

    width: 200px;
    font-size: 12px;
    height: 30px;
    margin-left: 270px;
    margin-bottom: 15px;
    margin-top: 10px;
}



#valueNombrePlantel, #valueMunicipio, #valueCCT, #valueTelefono, #valueLatitud, #valueDireccion, #valueEstado, #valueAnioCreacion, #valueCorreo, #valueLongitud, #valueDirector,
#valuePersonalAdmin, #valueDocentes, #valueMatricula, #valueTurno, #valuePeriodoEscolar, #valueCarrerasVigentes, #valueCarrerasLiquidadas, #valueSuperficiePredio, #valueSuperficieConstruida
{
    width: 230px;
    margin-bottom: 15px;
    font-size: 12px;
    height: 30px;
}

#valueDireccion, #valueCorreo
{
    width: 450px;
}

#valueEstado
{
    width: 150px;
}

#valueAnioCreacion
{
    width: 70px;
}

#valueLatitud, #valueLongitud
{
    width: 120px;
}

#valueDirector
{
    width: 400px;
}

#labelMatricula
{
    width: 80px;
    margin-left: 85px;
    margin-top: 10px;
    margin-bottom: 15px;
}
#valueMatricula, #valuePeriodoEscolar, #valuePersonalAdmin, #valueDocentes, #valueAulasDidacticas, #valueSuperficieConstruida 
{
    width: 100px;
    margin-left: 175px;
}

#labelPeriodoEscolar
{
    margin-left: 35px;
    width: 130px;
}
#labelPersonalAdmin
{
    margin-left: -40px;
    width: 200px;
}
#valueCarrerasVigentes, #valueCarrerasLiquidadas
{
    width: 500px;
}

#valueDocentes
{
    margin-left: 240px;
}

#valueSuperficiePredio, #valueLaboratorios, #valueSalaMedios, #valueAreasDeportivas
{
    width: 100px;
    margin-left: 240px;
    margin-bottom: 15px;
    height: 30px;
}
#valueOtrosTalleres
{
    width: 400px;
    margin-bottom: 15px;
}

#labelSuperficieConstruida
{
    width: 180px;
    margin-left: -180px;
}
#valueSuperficieConstruida
{
    margin-left: 10px;
}
#labelAulasDidacticas
{
    width: 136px;
    margin-left: 155px;
    margin-top: -6px;

}
#valueAulasDidacticas
{
    height: 30px;
    width: 100px;
    margin-left: 310px;
    margin-top: -15px;

}
#labelBiblioteca
{
    margin-left: -230px;
    margin-top: -6px;

}
#valueBiblioteca
{
    margin-left: 10px;
    margin-top: -15px;
    width: 100px;
    height: 30px;
}

#labelTalleresComputo
{
    margin-left: 60px;
    margin-top: -6px;


}
#valueTalleresComputo
{
    height: 30px;
    margin-left: 310px;
    width: 100px;
    margin-top: -15px;
}

#valueCafeteria
{
    height: 30px;
    width: 100px;
}
#labelSalaMedios
{
    margin-left: -228px;
    margin-top: 20px;
}

#valueSalaMedios
{
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}
#valueAreaAdministrativa
{
    height: 30px;
    width: 100px;
    margin-left: 420px;
}
#labelAreaAdministrativa
{
    margin-left: 170px;
}

#labelCaseta
{
    margin-left: 60px;
    margin-top: 10px;
}
#valueCaseta
{
    height: 30px;
    width: 100px;
    margin-left: 310px;
}
#valueBardaPerimetral
{
    height: 30px;
    width: 100px;
}
#labelAreasDeportivas
{
    margin-left: -230px;
    margin-top: 20px;
}
#valueAreasDeportivas
{
    height: 30px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

#addDataSheet
{
    margin-left: 30%;
}